// Fonts
$body-font-family: 'Inter', sans-serif;
$heading-font-family: 'Inter', sans-serif;
$mono-font-family: 'JetBrains Mono', monospace;

// Letter spacing (Tailwind's wideplus)
$letter-spacing-wideplus: 0.15em;